{% extends "base.html" %}

{% block content %}
    <h2>Listado de Publicaciones</h2>
    
    <ul>
        {% for pub in publicacion_list %}
            <li>
                <strong>{{ pub.titulo }}</strong> 
                (por {{ pub.autor }} el {{ pub.fecha_publicacion }})
                <br>
                <a href="{% url 'publicaciones:detalle_publicacion' pub.id %}">Ver detalle completo</a>
            </li>
            <br>
        {% empty %}
            <p>Aún no hay publicaciones en el sitio.</p>
        {% endfor %}
    </ul>
{% endblock %}